@import '../var/var';
.icon-wrapper {
  width: 32px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &.btn {
    cursor: pointer;
  }
}

h1,
h2,
h3 {
  font-family: $emphasis;
}

.title-highlighted {
  position: relative;
  z-index: 10;

  &::before {
    content: '';
    width: 60%;
    height: 10px;
    display: inline-block;
    background: $greenie;
    position: absolute;
    bottom: -1px;
    z-index: -1;
    left: -6px;
  }
}

.title-centered {
  width: fit-content;
  margin: 0 auto;
}

svg {
  width: 100%;
  height: 100%;
}

.icon-light {
  stroke-width: 2;
  stroke: white;
}
.icon-dark {
  stroke-width: 2;
  stroke: black;
}
