.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  background: #516cf0;
}

.title {
  margin: 0;
  font-size: 18px;
  color: #ffffff;
}

.menu {
  display: flex;

  li {
    margin-right: 0.5rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.nav-item {
  font-size: 14px;
  color: #ffffff;

  &:hover {
    color: #516cf0;
  }
}

.nav-item--active {
  color: #8fa0f5;
}
