@import '../mixins/media-queries';
@import '../var/var';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: header;

  @include tablet-landscape {
    margin-top: 100px;
    margin-bottom: 60px;
  }
}

.title {
  font-family: $emphasis;
  font-size: 22px;
  font-weight: $light;
  letter-spacing: 1px;
  color: #324238;
}

.menu-open-icon {
  line {
    stroke-width: 2;
    stroke: $brownie;
    transition: 0.15s ease-out;
  }

  &:hover {
    .line-top {
      transform: translateX(-2px);
    }
    .line-bottom {
      transform: translateX(2px);
    }
  }
}

.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  background: $accent;
  z-index: -1;
  transition: opacity 150ms ease-in;
  opacity: 0;

  &.open {
    visibility: visible;
    display: flex;
    opacity: 1;
    z-index: 100;

    .menu {
      animation: nav-items-in 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 100ms
        forwards;
    }

    .btn-close-menu {
      animation: btn-close-in 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 100ms
        forwards;
    }
  }
}

.btn-close-menu {
  padding: 4rem 4rem 0 0;
  align-self: flex-end;
  opacity: 0;

  line {
    transform-origin: center;
    transition: 0.15s ease-out;
  }

  &:hover {
    line {
      transform: rotate(-45deg);

      &:first-child {
        transform: rotate(45deg);
      }
    }
  }
}

.menu {
  padding: 0;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0;

  li {
    margin-bottom: 1rem;
    position: relative;
  }
}

.nav-item {
  font-size: 2rem;
  font-family: $emphasis;
  font-weight: $light;
  color: $white;
  transition: 100ms ease-out;

  &:hover {
    color: $brownie;
  }

  &--active {
    color: $brownie;
  }

  svg {
    display: none;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(50%);
    stroke-width: 2;
    stroke: $brownie;
  }
}

@keyframes nav-items-in {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes btn-close-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes menu-open {
  0% {
    display: flex;
    z-index: -1;
    opacity: 0;
  }

  100% {
    display: flex;
    z-index: 10;
    opacity: 1;
  }
}
@keyframes menu-close {
  0% {
    display: flex;
    z-index: 10;
    opacity: 1;
  }
  100% {
    display: flex;
    z-index: -1;
    opacity: 0;
  }
}
