.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f3f3f3;
}

.content {
  flex-grow: 1;
  margin: 0 auto;
  padding: 1rem;
  min-width: 500px;
  max-width: 750px;
  background: #ffffff;
}
