@import '../var/var';
@import '../mixins/media-queries';

.container {
  min-height: 100vh;
  display: grid;
  padding: 0;
  max-width: 1000px;
  margin: 0 auto;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'main'
    'footer';

  @include tablet-landscape {
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-areas:
      'header header header header'
      'main main main main'
      '. footer footer .';
  }
}

.content {
  background: #ffffff;
  grid-area: main;
}
