@import '../var/var';
@import '../mixins/media-queries';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: $default;
  background: $white-ish;

  @include tablet-landscape {
    padding: $large;
  }
}

.content {
  flex-grow: 1;
  margin: 0 auto;
  max-width: 750px;
  padding: $default;
  background: #ffffff;
}
