@import url('https://fonts.googleapis.com/css?family=Gelasio:500,600,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,900&display=swap');

$emphasis: 'Roboto Slab', sans-serif;
$body: 'Open Sans', sans-serif;

$light: 200;
$regular: 400;
