@import '../var/var';
@import '../mixins/media-queries';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.section {
  display: flex;
  flex-direction: column-reverse;

  @include tablet-landscape {
    flex-direction: row;
  }
}

section {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  z-index: 1;

  @include tablet-landscape {
    margin-bottom: 4rem;

    &:nth-child(2n),
    &:nth-child(2n + 1) {
      width: 60%;
    }

    &:nth-child(4n),
    &:nth-child(4n + 1) {
      width: 40%;
    }
  }
}

.text-item {
  @include tablet-landscape {
    padding: 1rem 4rem 1rem 4rem;
  }
}

.img-container {
  position: relative;
  border-radius: 4px;

  div {
    overflow: hidden;
    border-radius: 4px;
  }

  &.left::after {
    content: '';
    width: 50px;
    height: 60%;
    position: absolute;
    top: 15%;
    z-index: -1;
    display: block;
    background: #c6dace;
    transform: translateX(-40px);
    border-radius: 2px;
  }

  &.right::after {
    content: '';
    width: 70px;
    height: 80%;
    position: absolute;
    top: 15%;
    right: 0;
    z-index: -1;
    display: block;
    background: #627268;
    transform: translateX(20px);
    border-radius: 2px;
  }
}

.img-offset {
  @include tablet-landscape {
    transform: translateY(-100px);
  }
}

.title-wrapper {
  position: relative;
  width: fit-content;

  h2 {
    position: relative;
    margin-bottom: 0.8rem;
    z-index: 10;

    &::before {
      content: '';
      width: 60%;
      height: 10px;
      display: inline-block;
      background: $greenie;
      position: absolute;
      bottom: -1px;
      z-index: -1;
      left: -6px;
    }
  }
}

.section-title {
  position: relative;
  width: fit-content;
  z-index: 1;

  &::before {
    content: '';
    width: 60%;
    height: 10px;
    display: inline-block;
    background: $greenie;
    position: absolute;
    bottom: -1px;
    z-index: -1;
    left: -6px;
  }
}

.highlight {
  position: absolute;
  bottom: -2px;
  left: -6px;
  width: 60%;
  height: 10px;
  background: $greenie;
}

.arrow-btn-left {
  align-self: flex-start;
}
