@import './normalize.scss';

// mixins
@import './mixins/media-queries';

@import './var/var';

* {
  font-family: sans-serif;
  font-family: $body;
}

html {
  font-size: 14px;
}

html,
body {
  margin: 0;
  padding: 0;
}

a,
li {
  text-decoration: none;
}

h2 {
  font-family: $emphasis;
  font-weight: 400;
  font-size: 24px;
  color: $accent;
}

li,
ul {
  list-style: none;
}

footer {
  grid-area: footer;
}

svg {
  stroke-width: 2;
}
